@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Jersey 15", sans-serif;
    background-color: #202020;
    color: #fff;
    font-size: 1.4em;
}